<div class="sidebar-container">
  
  <div class="sidebar-header">
        CBX CRA
    </div>

    <mat-nav-list class="sidebar-nav">
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
            <span class="menu-text">
                Dashboard
            </span>
        </a>

        <a mat-list-item routerLink="/cra" routerLinkActive="active">
            <span class="menu-text">
                CRA Mensuel
            </span>
        </a>

        <a mat-list-item routerLink="/missions" routerLinkActive="active">
            <span class="menu-text">
                Missions
            </span>
        </a>

        <a mat-list-item routerLink="/collaborateurs" routerLinkActive="active">
            <span class="menu-text">
                Collaborateurs
            </span>
        </a>

        <a mat-list-item routerLink="/Validations" routerLinkActive="active">
            <span class="menu-text">
                Validations
            </span>
        </a>

    </mat-nav-list>
</div>